UNYC_USERNAME=
UNYC_PASSWORD=
UNYC_BASE_URL=https://atlas.unyc.io/
UNYC_CLIENT_URL=https://atlas.unyc.io/client
UNYC_EXCEL=lmunyc.xlsx
UNYC_HEADLESS=false
UNYC_SLOW_MO_MS=200
UNYC_STORAGE_STATE=unyc_state.json
